body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
}

main {
    padding-top: 4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .menuItem {
    display: block;
    margin: 2rem 4rem;
    font-size: 1.8rem;
    color: rgb(15, 15, 15);
    text-decoration: none;
  }
  
  .menuItem:hover {
    text-decoration: underline;
  }
  
  .hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: black solid 1px;
    background: white;
    cursor: pointer;
  }
  
  .closeIcon {
    display: none;
  }
  
  .menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgb(236, 235, 235);
    color: rgb(17, 17, 17);
    list-style: none;
    padding-top: 4rem;
  }
  
  .showMenu {
    transform: translateY(0);
  }


.container {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;
}

.cheat-sheet-box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    margin: 1rem;
    width: calc(50% - 2rem);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.commands-container {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 0;
    transition: max-height 0.3s ease;
}

h2 {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.comment {
    color: #888;
    font-style: italic;
    margin-left: 1rem;
}

@media screen and (max-width: 768px) {
    .cheat-sheet-box {
        width: 100%;
        max-width: 600px;
    }
}

.hidden {
    overflow: hidden;
}

/* Add this to improve cursor feedback when hovering over a topic */
.cheat-sheet-box {
    cursor: pointer;
}

.active {
    display: block;
}